
.Rproj.user/.DS_Store
.Rproj.user/43547655/ctx/ctx-29869/console_actions
.Rproj.user/43547655/ctx/ctx-29869/environment
.Rproj.user/43547655/ctx/ctx-29869/environment_vars
.Rproj.user/43547655/ctx/ctx-29869/history
.Rproj.user/43547655/ctx/ctx-29869/libpaths
.Rproj.user/43547655/ctx/ctx-29869/options
.Rproj.user/43547655/ctx/ctx-29869/plots_dir/empty.png
.Rproj.user/43547655/ctx/ctx-29869/plots_dir/INDEX
.Rproj.user/43547655/ctx/ctx-29869/rversion
.Rproj.user/43547655/ctx/ctx-29869/settings
.Rproj.user/43547655/pcs/debug-breakpoints 2.pper
.Rproj.user/43547655/pcs/debug-breakpoints.pper
.Rproj.user/43547655/pcs/files-pane 2.pper
.Rproj.user/43547655/pcs/files-pane.pper
.Rproj.user/43547655/pcs/packages-pane 2.pper
.Rproj.user/43547655/pcs/packages-pane.pper
.Rproj.user/43547655/pcs/source-pane 2.pper
.Rproj.user/43547655/pcs/source-pane.pper
.Rproj.user/43547655/pcs/source-window.pper
.Rproj.user/43547655/pcs/windowlayoutstate 2.pper
.Rproj.user/43547655/pcs/windowlayoutstate.pper
.Rproj.user/43547655/pcs/workbench-pane 2.pper
.Rproj.user/43547655/pcs/workbench-pane.pper
.Rproj.user/43547655/persistent-state
.Rproj.user/43547655/rmd-outputs
.Rproj.user/43547655/saved_source_markers
.Rproj.user/43547655/sources/per/t/2713D8E9
.Rproj.user/43547655/sources/per/t/2713D8E9-contents
.Rproj.user/43547655/sources/per/t/62074362
.Rproj.user/43547655/sources/per/t/62074362-contents
.Rproj.user/43547655/sources/per/t/70828A4A
.Rproj.user/43547655/sources/per/t/70828A4A-contents
.Rproj.user/43547655/sources/per/t/80FB8713
.Rproj.user/43547655/sources/per/t/80FB8713-contents
.Rproj.user/43547655/sources/per/t/8C4A6426
.Rproj.user/43547655/sources/per/t/8C4A6426-contents
.Rproj.user/43547655/sources/per/t/975A6C2
.Rproj.user/43547655/sources/per/t/975A6C2-contents
.Rproj.user/43547655/sources/per/t/9AB82ABF
.Rproj.user/43547655/sources/per/t/9AB82ABF-contents
.Rproj.user/43547655/sources/per/t/A2301335
.Rproj.user/43547655/sources/per/t/A2301335-contents
.Rproj.user/43547655/sources/per/t/B2858ECE
.Rproj.user/43547655/sources/per/t/B2858ECE-contents
.Rproj.user/43547655/sources/per/t/C12875AB
.Rproj.user/43547655/sources/per/t/C12875AB-contents
.Rproj.user/43547655/sources/per/t/C92511A6
.Rproj.user/43547655/sources/per/t/C92511A6-contents
.Rproj.user/43547655/sources/per/t/D296F169
.Rproj.user/43547655/sources/per/t/D296F169-contents
.Rproj.user/43547655/sources/per/t/E24ED03D
.Rproj.user/43547655/sources/per/t/E24ED03D-contents
.Rproj.user/43547655/sources/prop/212D9A73
.Rproj.user/43547655/sources/prop/228D662D
.Rproj.user/43547655/sources/prop/236A26B1
.Rproj.user/43547655/sources/prop/33317255
.Rproj.user/43547655/sources/prop/44856BDC
.Rproj.user/43547655/sources/prop/4B9853E6
.Rproj.user/43547655/sources/prop/6166BAE8
.Rproj.user/43547655/sources/prop/61A62467
.Rproj.user/43547655/sources/prop/70BBD49
.Rproj.user/43547655/sources/prop/7AB32995
.Rproj.user/43547655/sources/prop/8518E9F6
.Rproj.user/43547655/sources/prop/9AC0C4F6
.Rproj.user/43547655/sources/prop/9C59B4D2
.Rproj.user/43547655/sources/prop/A14935CB
.Rproj.user/43547655/sources/prop/B047E25
.Rproj.user/43547655/sources/prop/B97F524E
.Rproj.user/43547655/sources/prop/BFC51DB5
.Rproj.user/43547655/sources/prop/C83C42B4
.Rproj.user/43547655/sources/prop/CE6F462E
.Rproj.user/43547655/sources/prop/D89017EC
.Rproj.user/43547655/sources/prop/E24AB9C7
.Rproj.user/43547655/sources/prop/E683800F
.Rproj.user/43547655/sources/prop/EE99453
.Rproj.user/43547655/sources/prop/F355F4E7
.Rproj.user/43547655/sources/prop/F5677691
.Rproj.user/43547655/sources/prop/INDEX
.Rproj.user/69892097/console06/INDEX001
.Rproj.user/69892097/pcs/debug-breakpoints.pper
.Rproj.user/69892097/pcs/files-pane.pper
.Rproj.user/69892097/pcs/source-pane.pper
.Rproj.user/69892097/pcs/windowlayoutstate.pper
.Rproj.user/69892097/pcs/workbench-pane.pper
.Rproj.user/69892097/persistent-state
.Rproj.user/69892097/rmd-outputs
.Rproj.user/69892097/saved_source_markers
.Rproj.user/69892097/sources/per/t/291702F
.Rproj.user/69892097/sources/per/t/291702F-contents
.Rproj.user/69892097/sources/per/t/40FE456B
.Rproj.user/69892097/sources/per/t/40FE456B-contents
.Rproj.user/69892097/sources/per/t/4266C374
.Rproj.user/69892097/sources/per/t/4266C374-contents
.Rproj.user/69892097/sources/per/t/46464B3F
.Rproj.user/69892097/sources/per/t/46464B3F-contents
.Rproj.user/69892097/sources/per/t/4B5BF75
.Rproj.user/69892097/sources/per/t/4B5BF75-contents
.Rproj.user/69892097/sources/prop/31F25256
.Rproj.user/69892097/sources/prop/436B75F
.Rproj.user/69892097/sources/prop/4A7B36AF
.Rproj.user/69892097/sources/prop/557B0FD2
.Rproj.user/69892097/sources/prop/DAC701B5
.Rproj.user/69892097/sources/prop/INDEX
.Rproj.user/69892097/viewer-cache/902FD731.Rdata
.Rproj.user/shared/notebooks/249C2DD0-Untitled/1/s/chunks.json
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/435476558AA3070C/chunks.json
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/ccmxmouni2fsa/000004.metadata
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/ccmxmouni2fsa/000004.rdf
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/ccxg78tz9xvww/000002.csv
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/cdx8tpjsmekmf/000002.csv
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/chunks.json
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/ciab5c9u268lt/000002.csv
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/ciab5c9u268lt/000003.metadata
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/ciab5c9u268lt/000003.png
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/ciab5c9u268lt/000003.snapshot
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/cnp26fd6gq5fr/000002.csv
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/cnp26fd6gq5fr/000003.metadata
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/cnp26fd6gq5fr/000003.png
.Rproj.user/shared/notebooks/28F0418A-Chapter 11 - Mixture Models/1/s/cnp26fd6gq5fr/000003.snapshot
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/4354765517AA371/chunks.json
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/435476558F4EEA45/chunks.json
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/43547655F37EB584/chunks.json
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/c44h6or98w9cc/000011.metadata
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/c44h6or98w9cc/000011.png
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/c44h6or98w9cc/000011.snapshot
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/c8j420ha2xgsl/000088.metadata
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/c8j420ha2xgsl/000088.png
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/c8j420ha2xgsl/000088.snapshot
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/chunks.json
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/coiyw79b8yh5y/000002.csv
.Rproj.user/shared/notebooks/2E7011DB-Chapter 5 - Multivariate Linear Models/1/s/cs0k1tfw6kre1/000002.csv
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/4354765517AA371/chunks.json
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/c17ajbiv8od7n/000002.csv
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/c59370mwi3c7m/000007.metadata
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/c59370mwi3c7m/000007.rdf
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/c7yp2pbcucmc5/000029.metadata
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/c7yp2pbcucmc5/000029.png
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/c7yp2pbcucmc5/000029.snapshot
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/cgzm8cqinm6ra/000002.csv
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/chunks.json
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/cpzqxs2k8bwhw/000002.csv
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/cpzqxs2k8bwhw/000003.metadata
.Rproj.user/shared/notebooks/60BFCA70-Chapter 7 - Interactions/1/s/cpzqxs2k8bwhw/000003.rdf
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/4354765517AA371/chunks.json
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/c0dow07876sa8/000002.csv
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/c15bpo758gkzf/000005.metadata
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/c15bpo758gkzf/000005.rdf
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/c2ib8vv6ow9n3/000002.csv
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/c2sa9c29ckh3r/000009.metadata
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/c2sa9c29ckh3r/000009.rdf
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/cas38qmpybe1h/000002.csv
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/cd34ibmgafxef/000002.csv
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/chunks.json
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/ck6yu8ahmt024/00000c.csv
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/ck6yu8ahmt024/00000d.error
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/cki6smi9kx19c/000002.csv
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/cnk9n5fjdf8s8/000014.metadata
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/cnk9n5fjdf8s8/000014.rdf
.Rproj.user/shared/notebooks/77F71605-Chapter 10 - Counting and Classification/1/s/cy3v7bydexvfd/000018.csv
.Rproj.user/shared/notebooks/7A67E9DC-Chapter 12 - Multilevel Models/1/s/chunks.json
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/4354765527D5AB29/chunks.json
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/4354765584DC6581/chunks.json
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/s/cfmzthv2t5ffb/000002.csv
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/s/cfmzthv2t5ffb/000003.metadata
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/s/cfmzthv2t5ffb/000003.png
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/s/cfmzthv2t5ffb/000003.snapshot
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/s/cfmzthv2t5ffb/000004.csv
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/s/chunks.json
.Rproj.user/shared/notebooks/B8B9EA6-Learning Stan/1/s/cira01k9gispj/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/435476558F4EEA45/chunks.json
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c016kmdy4gq5s/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c347vkaplh7ra/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c4zbq4pt6z051/000004.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c4zbq4pt6z051/000004.rdf
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6t22j4m204q9/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6t22j4m204q9/000003.error
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000006.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000007.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000007.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c6vln45tcbobc/000007.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c7mzma58o911k/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c7mzma58o911k/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c7mzma58o911k/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c7mzma58o911k/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000006.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000007.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000007.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000007.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000008.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000009.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000009.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/c83yhconoitmj/000009.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cahej5ukaielc/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cahej5ukaielc/000003.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cahej5ukaielc/000003.rdf
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cbjnfxl4g1y0q/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cbjnfxl4g1y0q/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cbjnfxl4g1y0q/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cbjnfxl4g1y0q/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cc5ua379qm6ds/000010.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cc5ua379qm6ds/000010.rdf
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgbo1qv68m6js/000004.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgbo1qv68m6js/000004.rdf
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgbo50sq497u6/000007.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgbo50sq497u6/000007.rdf
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000006.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000007.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000007.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000007.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000008.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000009.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000009.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cgcdv5q3anr3x/000009.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/chg78yvhhi9i8/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/chunks.json
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ci2m4l6fmv20m/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ci2m4l6fmv20m/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ci2m4l6fmv20m/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cl6esubqk1fai/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cl6esubqk1fai/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cl6esubqk1fai/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cl6esubqk1fai/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000003.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000003.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000003.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000006.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000007.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000007.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000007.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cphb4y5yaxxje/000008.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cqkekw392vh7t/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cqkekw392vh7t/000003.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cqkekw392vh7t/000003.rdf
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crc81k1fia6ve/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crij48321f4nh/000008.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crij48321f4nh/000009.error
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crmr0es2k6hbj/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crmr0es2k6hbj/000003.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crmr0es2k6hbj/000003.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crmr0es2k6hbj/000003.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crzm5hjfhqp7a/000010.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crzm5hjfhqp7a/000010.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/crzm5hjfhqp7a/000010.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/csfu0tiwrw53f/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/csfu0tiwrw53f/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/csfu0tiwrw53f/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/csfu0tiwrw53f/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000003.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000003.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000003.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/ct1z2bde63bj5/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cu21nx77bmt11/000009.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cu21nx77bmt11/000009.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cu21nx77bmt11/000009.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cupadn78yjah3/000002.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cwcq8sty59g84/000004.csv
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cwcq8sty59g84/000005.metadata
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cwcq8sty59g84/000005.png
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/cwcq8sty59g84/000005.snapshot
.Rproj.user/shared/notebooks/FA2C091A-Chapter 4 - Linear Models/1/s/czpsl4yav0atn/000002.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
